@using MovieSite.Models
@model MovieSite.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@((Movie)ViewData["Movie"]).Name</h2>*@

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movies.Count</h2>
@Model.Customers

@if (Model.Customers.Count == 0)
{
    <text>Noone rented this before</text>
}
else
{
    <ul>
        @foreach (var item in @Model.Customers)
        {
            <li>@item.Name</li>
        }
    </ul>
}


